.wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;

	.text {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		color: #5c596d;
	}
}

.popular_products {
	&_product {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		gap: 16px;
		background: #ffffff;
		box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		cursor: pointer;
		border: 2px solid transparent;
		transition: all 0.1s ease-in-out;
		
		h2 {
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #5c596d;
		}
		&:hover {
			border: 2px solid #265fef;
			transition: all 0.1s ease-in-out;
		}

		.popular_image {
			width: 226px;
			height: 170px;
			margin: 0 auto;
			object-fit: cover;
		}

		.price {
			h1 {
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: #1d1a2f;
			}
		}
		.buttons{
			.reactions{
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 20px;
			}
		}	
	}
}
