.categories {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	// align-items: center;

    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #5c596d;
    }
	&_boxes {
		display: flex;
		// flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&_box {
			background: #f7f7f7;
			padding: 16px;
			display: flex;
			flex-direction: column;
		    border-radius: 8px;
			align-items: center;
			gap: 16px;
            border: 2px solid transparent;
            transition: all .1s ease-in-out;
            cursor: pointer;

			h1 {
				font-weight: 700;
				font-size: 20px;
				line-height: 24px;
                color: #5C596D
			}

            &:hover{
                border: 2px solid #265fef;
                transition: all .1s ease-in-out;

                h1{
                    color: #265fef;
                }
            }
		}
	}
}
